@model SpinFieldSelect
@using Spin.Modules.Entity.Backend.Generator.Select
@{ 

}
<div class="@Model.Style">
    <img class="img-select-item" ng-src="{{@(Model.ModelName)}}" err-src="/img/noImage.png" />
</div>