.content-user-information {
    margin-bottom: 3em;
}

.content-user-information-image {
    width: 4.2em;
    border-radius: 100%;
    height: 4.2em;
}

.user-information-data {
    margin-top: 2em;
}

.btn-online{
    background-color: rgb(56, 160, 24);
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin-left: 7px;
}

.btn-offline{
    background-color: red;
}