@{
    Layout = "/Spin/Themes/Shared/spin-sys/IndexBlank.cshtml";
    SpinViewPage.AddStyle("/css/StatusPage.css");
}

<div class="content-page">
    <div class="row content-page align-items-center">
        <div class="col-6 img-state">
            <img class="" src='@SpinViewPage.RelativePath("503.svg")' />
        </div>
        <div class="col-6">
            <div class="number-status">
                503
            </div>
            <div class="text-status">
                SORRY
            </div>
            <div class="title-status">
                INTERNAL ERROR
            </div>
            <div>
                @ViewBag.MessageError
            </div>
        </div>
    </div>
</div>