@using Spin.Security.Entity
@model User
@{
    Layout = "/Spin/Themes/Shared/spin-sys/IndexLogin.cshtml";
    this.SpinViewPage.Title = "Change Password";

    this.SpinViewPage.AddStyle("/Spin/Module/Security/Resource/spin-sys/css/Login.css");
    this.SpinViewPage.AddStyle("/Spin/Module/Security/Resource/spin-sys/css/Login-media.css");

    this.SpinViewPage.AddJavaScript("/Spin/Module/Security/Resource/spin-sys/js/Login.js");

    int Id = -1;
    if (Model != null)
    {
        Id = Model.Id;
    }

}


<form id="LoginData" name="LoginData" action="/Admin/Security/User/ChangePassword/@(Id)" method="post" class="frm-content-login">

    <div id="contentUser" class="animated content-user">
        <fieldset>
            <label><i class="fas fa-lock"></i>New Password</label>
            <input id="newPassword" name="newPassword" placeholder="Password" type="password" data-rule-minlength="6" required />
        </fieldset>
        <fieldset>
            <label><i class="fas fa-lock"></i>New Password Repeat</label>
            <input id="newPasswordRepeat" name="newPasswordRepeat" placeholder="Password Repeat" data-rule-equalTo="#newPassword" type="password" required />
        </fieldset>
        <button id="btnLogin" type="submit">
            Change Password
        </button>
    </div>
</form>
