@{
    Layout = "/Spin/Themes/Shared/spin-sys/IndexLogin.cshtml";
    this.SpinViewPage.Title = "Forgot Password";

    this.SpinViewPage.AddStyle("/Spin/Module/Security/Resource/spin-sys/css/Login.css");
    this.SpinViewPage.AddStyle("/Spin/Module/Security/Resource/spin-sys/css/login-media.css");

    this.SpinViewPage.AddTryStyle("/Spin/Module/Security/Resource/css/Login.css");
    this.SpinViewPage.AddTryStyle("/Spin/Module/Security/Resource/css/login-media.css");

    this.SpinViewPage.AddJavaScript("/Spin/Module/Security/Resource/spin-sys/js/Login.js");
}




<form id="LoginData" name="LoginData" action="/Admin/Security/User/ForgotPassword" method="post" class="frm-content-login">


    <div id="contentUser" class="animated content-user">
        <fieldset>
            <label><i class="far fa-envelope"></i>Email</label>
            <input id="userEmail" name="userEmail" placeholder="Email" type="email" required />
        </fieldset>

        <button id="btnLogin" type="submit">
            Change Password
        </button>

    </div>
    
</form>
