@model ClassBaseDocument
@using Spin.Base.Documentation.Entity
@using Spin.Base.Documentation.Language
@{

}

@if (Model.Members.Any(a => a.TypeMember == TypeMember.Field && !a.IsPrivate))
{
    <div class="content-information">
        <h2>@DocumentationLanguage.Fields</h2>

        @foreach (var ItemField in Model.Members.Where(a => a.TypeMember == TypeMember.Field))
        {
            <div class="row item-content-information">
                <div class="col">
                    <a href="/Documentation/Home/Index/@(ItemField.FullName)">
                        @(ItemField.Name) - @(ItemField.TypeName)
                    </a>
                </div>

                <div class="col">
                    @ItemField.GetTranslate(a => a.Summary)
                </div>
            </div>
        }
    </div>
}