@model ImageUserSelect
@using Spin.Security.Control
@{
    this.SpinViewPage.AddStyle("/Spin/Module/Security/Resource/spin-sys/css/controls.css");
}

<div class="">
    <div class="row align-items-center">
        <div class="col-2">
           <div class="btn-online" ng-Class="{'btn-offline': !itemList.isConnect}"></div>
        </div>
        <div class="col-7">
            <img  class="content-user-information-image" ng-src="{{@(Model.ModelName)}}"  err-src="/img/noImage.png"/>
        </div>
    </div>
    
</div>
