@model CheckboxSpinField
@using Spin.Modules.Entity.Backend.Generator.Detail
@{

}
<div class="content-label">
        <input type="checkbox" ng-model="@(Model.ModelName)" />
        @(Model.Title)
</div>
